<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpIAX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IAXClientDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpIAX.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Preferred" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Allowed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigStatus" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Ring" serializeAs="String">
                <value />
            </setting>
            <setting name="CallerIdNumber" serializeAs="String">
                <value>(Not Specified)</value>
            </setting>
            <setting name="CallerIdName" serializeAs="String">
                <value>SharpIAX</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>0</value>
            </setting>
        </SharpIAX.Properties.Settings>
        <IAXClientDemo.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Preferred" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Allowed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigStatus" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Input" serializeAs="String">
                <value />
            </setting>
            <setting name="Output" serializeAs="String">
                <value />
            </setting>
            <setting name="Ring" serializeAs="String">
                <value />
            </setting>
        </IAXClientDemo.Properties.Settings>
    </userSettings>
</configuration>